body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #0f172a, #1e293b);
    color: white;
    text-align: center;
}

.container {
    padding: 20px;
}

h1 {
    font-size: 36px;
}

.subtitle {
    color: #94a3b8;
    margin-bottom: 20px;
}

/* Button */
.start-btn {
    background: #3b82f6;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 30px;
}

.start-btn:hover {
    background: #2563eb;
}

/* MAIN LAYOUT */
.main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

/* VIDEO */
.video img {
    width: 600px;
    border-radius: 15px;
    box-shadow: 0 0 25px rgba(0,0,0,0.6);
}

/* RIGHT SIDE */
.stats {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* CARDS */
.cards {
    display: flex;
    gap: 20px;
}

.card {
    padding: 20px 40px;
    border-radius: 15px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    min-width: 180px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

/* COLORS */
.green {
    background: #16a34a;
}

.red {
    background: #dc2626;
}

/* CHART */
.chart-container {
    width: 400px;
    background: #1e293b;
    padding: 15px;
    border-radius: 15px;
}

canvas {
    background: #1e293b;
    padding: 10px;
    border-radius: 10px;
}