<!DOCTYPE html>
<html>
<head>
    <title>VisionGuard AI</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<div class="container">

<h1>🛡 VisionGuard AI</h1>
<p class="subtitle">Real-Time PPE Compliance System</p>

<button class="start-btn" onclick="start()">▶ Start Detection</button>

<div class="main">

    <!-- CAMERA -->
    <div class="video">
        <img src="/video_feed">
    </div>

    <!-- RIGHT SIDE -->
    <div class="stats">

        <div class="cards">
            <div class="card green">
                <h2>😷 Mask</h2>
                <p id="maskCount">0</p>
            </div>

            <div class="card red">
                <h2>❌ No Mask</h2>
                <p id="noMaskCount">0</p>
            </div>
        </div>

        <!-- DOUGHNUT -->
        <canvas id="pieChart"></canvas>

        <!-- BAR -->
        <canvas id="barChart"></canvas>

        <!-- LINE -->
        <canvas id="lineChart"></canvas>

    </div>

</div>
</div>

<script>
function start() {
    fetch('/start');
}

// PIE CHART
const pieChart = new Chart(document.getElementById('pieChart'), {
    type: 'doughnut',
    data: {
        labels: ['Mask', 'No Mask'],
        datasets: [{ data: [0,0] }]
    }
});

// BAR CHART
const barChart = new Chart(document.getElementById('barChart'), {
    type: 'bar',
    data: {
        labels: ['Mask', 'No Mask'],
        datasets: [{
            label: 'Count',
            data: [0,0]
        }]
    }
});

// LINE CHART
const lineChart = new Chart(document.getElementById('lineChart'), {
    type: 'line',
    data: {
        labels: [],
        datasets: [
            { label: 'Mask', data: [] },
            { label: 'No Mask', data: [] }
        ]
    }
});

// UPDATE STATS
function updateStats() {
    fetch('/stats')
    .then(res => res.json())
    .then(data => {
        const mask = data.mask || 0;
        const noMask = data.no_mask || 0;

        document.getElementById('maskCount').innerText = mask;
        document.getElementById('noMaskCount').innerText = noMask;

        pieChart.data.datasets[0].data = [mask, noMask];
        barChart.data.datasets[0].data = [mask, noMask];

        pieChart.update();
        barChart.update();
    });
}

// UPDATE ANALYTICS (LINE GRAPH)
function updateAnalytics() {
    fetch('/analytics')
    .then(res => res.json())
    .then(data => {
        lineChart.data.labels = data.labels;
        lineChart.data.datasets[0].data = data.mask;
        lineChart.data.datasets[1].data = data.no_mask;
        lineChart.update();
    });
}

setInterval(updateStats, 1000);
setInterval(updateAnalytics, 2000);
</script>

</body>
</html>